<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <script>
    function openTab(evt, tab) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tab).style.display = "block";
      evt.currentTarget.className += " active";
    }
    window.onload = () => document.getElementById('{{default}}').click();
  </script>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <h1>TIC TAC TOE</h1>
  <main>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'creategame')" id="create">Create Game</button>
      <button class="tablinks" onclick="openTab(event, 'joingame')" id="join">Join Game</button>
    </div>

    <div class="tabcontent" id="creategame">
      <form action="/game/joinGameCreator" method="post">
        <label for="name">Enter Your Name</label>
        <input type="text" name="gameCreator" id="gameId" value="">
        <input type="submit" value="Create Game">
        <span class="error">{{INVALIDNAME}}</span>
        <span class="error">{{CREATEGAME}}</span>
      </form>
    </div>

    <div class="tabcontent" id="joinGame">
      <form action="/game/join" method="post">
        <label for="gameId">Enter Game Id</label>
        <input type="text" name="gameId" id="gameId">
        <input type="submit" value="Join Game">
        <span class="error">{{INVALIDGAMEID}}</span>
      </form>
    </div>

  </main>
</body>

</html>
