<!DOCTYPE html>
<html class="gr__localhost"><head>
    <meta charset="utf-8">
    <title class="tab">Share Your Game ID</title>
    <link rel="stylesheet" href="/css/shareGameId.css">
  </head>
    <h1>TIC TAC TOE</h1>
    <main>
      <div class="tab">
        <button class="tablinks">Share Game Id</button>
      </div>
      <div class="tabContent">
        <p id="playerMessage">copy the below game ID and share it with your co-player, so that they can join in this game with you</p>
        <form action="/game/{{gameId}}/wait" method="get">
          <label for="gameId">Game Id:</label>
          <span class="gameID">{{gameId}}</span>
          <input class="okayButton" type="submit" value="Okay Copied">
        </form>
      </div>
    </main>
</body></html>
