<!DOCTYPE html>
<html class="gr__localhost">
  <head>
    <meta charset="utf-8">
    <title class="tab">please wait</title>
    <link rel="stylesheet" href="/css/waitingPage.css">
  </head>
  <body>
    <h1>TIC TAC TOE</h1>
    <main>
      <div class="tab">
        <button class="tablinks">Please Wait...</button>
      </div>
      <div class="tabContent">
        <img src="/images/preloader.gif">
        <p>please wait until your co-player joins the game {{gameId}}</p>
      </div>
    </main>
  </body>
</html>
